*/_notes/
/_notes/
/*_notes/
.DS_Store
/assets/.DS_Store
/*_notes/
*/_notes/
*/*/_notes/
*/*/*/_notes/
temp/
.settings
.buildpath
.project
/classes/lib/angelleye/paypal-php-library/documentation/_notes/
/classes/lib/angelleye/paypal-php-library/includes/_notes/
/classes/lib/angelleye/paypal-php-library/templates/_notes/
.idea

/vendor/
