.woocommerce-page #payment .form-row select option {
  color: black;
}
.et_pb_module #wcf-embed-checkout-form .woocommerce #order_review .payment_method_braintree .input-text {
    font-size: 21px;
}
.theme-Divi p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    margin-bottom: 1.625em;
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-cardholder {
    font-size: 1.5em;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: right .618em center;
    background-size: 32px 20px;
}

.woocommerce-page #payment .form-row select.woocommerce-cc-month {
    width: 52%;
    min-width: 100px;
    margin-bottom: 10px;
   
    margin-right: 10px;
}
.woocommerce-page #payment .form-row select.woocommerce-cc-year {
    width: 43%;
    min-width: 100px;
   
    
}

.woocommerce form .form-row.woocommerce-validated select.woocommerce-cc-month, .woocommerce form .form-row.woocommerce-validated select.woocommerce-cc-year {
    border: 1px solid #bbb;
}