.woocommerce-checkout #payment div.payment_box .wc-credit-card-form div.hosted-field-braintree, .woocommerce #payment div.payment_box .wc-credit-card-form div.hosted-field-braintree {
    height:2em;padding:7px;border:1px solid #ccc;border-radius:3px;transition:border-color .16s;-webkit-transition:border-color .16s;background-color:#fff;
    border-color: #c7c1c6;
    border-top-color: rgb(199, 193, 198);
    border-top-color: #bbb3b9;
}
.angelleye-braintree-hidden {
    display: none;
}



#modal-angelleye-braintree {
      
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  z-index: 3000;
  cursor: pointer;
}
#modal-angelleye-braintree iframe {
    overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 1em;
  box-sizing: content-box;
  border-radius: 5px;
}

.woocommerce-checkout #payment div.payment_box #wc-braintree-cc-form.wc-credit-card-form div.form-row,  .woocommerce #payment div.payment_box #wc-braintree-cc-form.wc-credit-card-form div.form-row{
    padding: 3px;
}
