.cart .paypal_checkout_button img {
	vertical-align: middle;
}
.paypal_box_button {
    clear: both;
    float: right;
}
.woocommerce #content table.cart .paypal_box_button img, .woocommerce table.cart .paypal_box_button img, .woocommerce-page #content table.cart .paypal_box_button img, .woocommerce-page table.cart .paypal_box_button img {
    width: 150px;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    display: inline;
}
.paypal_box_button div a img {
    border: none;
}
#paypal_ec_paypal_credit_button a {
    display: block;
    text-align: center;
    width: 100%;
}
#paypal_ec_button {
    margin-bottom: 3px;
}