a img{
    border: none;
}
#paypal_pro_payflow_card_number {
	width: 47%;
	margin-right: 6% !important;
	float: left;
}
#paypal_pro_payflow_card_csc {
	width: auto;
	padding-right: 1em;
}
#paypal_pro_payflow_card_type_image {
	background: url(../images/payflow-cards.png) no-repeat 32px 0;
	width: 32px;
	height: 24px;
	margin: 0 0 0 -3px;
	position: relative;
	float: left;
	display: none;
}
#paypal_pro_payflow_card_type_image.visa,
#paypal_pro_payflow_card_type_image.visa_electron {
	background-position: 0 0;
	display: block;
}
#paypal_pro_payflow_card_type_image.mastercard {
	background-position: -33px 0;
	display: block;
}
#paypal_pro_payflow_card_type_image.maestro {
	background-position: -66px 0;
	display: block;
}
#paypal_pro_payflow_card_type_image.amex {
	background-position: -132px 0;
	display: block;
}
#paypal_pro_payflow_card_type_image.discover {
	background-position: -99px 0;
	display: block;
}
#paypal_pro_payflow_card_type_image.jcb {
	background-position: -165px 0;
	display: block;
}
body.woocommerce-checkout .woocommerce #checkout_paypal_message #paypal_box_button > div img {
    display: block;
    width: 150px;
    padding: 0px;
}
body.woocommerce-checkout .woocommerce #checkout_paypal_message #paypal_box_button img{
    float: left ;
    display: inline;
    border: none;
    padding: 0px;
    background: none;
}
body.woocommerce-checkout .woocommerce #checkout_paypal_message #paypal_box_button a.paypal_checkout_button_text{
    float: left;
}
/*
#paypal_box_button {
    margin: auto;
    text-align: center;
    width: 620px;
}
*/
#paypal_ec_button {
    float: left;
    width: 150px;
}
#paypal_ec_paypal_credit_button {
    float: left;
    width: 150px;
    margin-left: 10px;
}
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image{
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.woocommerce-select{
    border-color: #C8BFC6 #D4CDD2 #D4CDD2;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.428571rem;
}
.checkoutStatus {
    width: 90%;
    word-wrap: break-word;
    font-size: 1.3em;
}
.woocommerce_paypal_ec_checkout_message {
	float:left;
	width:50%;
	margin: 0 0 0 20px;
}