.woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button {
    float: left;
    margin-bottom: 10px;
    vertical-align: middle;
}
.single_variation_wrap{
    border: none;
}