.woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button {
    float: left;
    margin-bottom: 10px;
    vertical-align: middle;
}
.single_variation_wrap_angelleye{
    border: none;
}
#paypal_ec_paypal_credit_button, #paypal_ec_button, .paypal_ec_textbutton {
    position: relative;
}
.single_variation_wrap_angelleye:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}