.woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button {
    float: left;
    margin-bottom: 10px;
    vertical-align: middle;
}
.single_variation_wrap_angelleye{
    border: none;
}
#paypal_ec_paypal_credit_button, #paypal_ec_button, .paypal_ec_textbutton {
    position: relative;
}
.angelleye_button_single.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    display: none;
}
.single_variation_wrap_angelleye:disabled, .single_add_to_cart_button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
p.woocommerce-SavedPaymentMethods-saveNew {
    margin-bottom: 8px;
}
.angelleye_ec_save_to_accoount_box {
    clear: both;
}

.single_add_to_cart_button.button.alt.paypal_checkout_button.single_variation_wrap_angelleye.ec_product_page_button_type_paypalimage  {
    border: medium none;
    clear: both;
    height: auto;
    margin: 3px 0;
    padding: 0;
    width: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    box-shadow: none;
}
.single_add_to_cart_button.button.alt.paypal_checkout_button.single_variation_wrap_angelleye.paypal_checkout_button.button.alt.ec_product_page_button_type_textbutton {
    float: left; 
    clear: both; 
    margin: 3px 0 0 0; 
    border: none;
}
.single_add_to_cart_button.button.alt.paypal_checkout_button.single_variation_wrap_angelleye.ec_product_page_button_type_customimage {
    float: left; 
    clear: both; 
    margin: 3px 0 3px 0; 
    border: none; 
    padding: 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    box-shadow: none;
}
.angelleyeOverlay {
    display:none;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; opacity: 0.6; cursor: default; position: absolute;
}
form.cart div.angelleye_button_single input {
    max-width: 100%;
    width: 170px;
}
.product_meta {
    clear: both;
}
form.cart div.angelleye_button_single input.ec_product_page_button_type_textbutton {
    width: auto;
}
.paypal_checkout_button.button.alt.ec_checkout_page_button_type_textbutton {
    margin: 3px 0 3px 0; 
}
input.single_add_to_cart_button.paypal_checkout_button {
    padding: 0px !important;
}
.angelleye_button_single {
    min-width: 150px;
    max-width: 500px;
}
@media screen and (max-width: 400px) {
    .angelleye_button_single {
        width: 100%;
    }
}
