.woocommerce-page .ppcp_payment_method_icon {
    height: auto;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    display: inline;
}
.woocommerce-PaymentMethod.woocommerce-PaymentMethod--method.payment-method-method {
    min-width: 280px;
}

ppcp_tag
{
    background-color: #565656;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 9px;
    margin-top: 10px;
    line-height: 25px;
}


.ppcp-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.ppcp-tooltip .ppcp-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.ppcp-tooltip .ppcp-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ppcp-tooltip:hover .ppcp-tooltiptext {
    visibility: visible;
    opacity: 1;
}