.angelleye_ppcp_gateway_setting_sepraer {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
.angelleye_ppcp_gateway_manual_credential_input {
    outline: none;
    text-decoration: none;
}
#angelleye_paypal_marketing_table h3.wc-settings-sub-title {
    border-bottom: none;
}
#angelleye_paypal_marketing_table h3.wc-settings-sub-title.ppcp_separator_heading {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color: #23282d;
    font-size: 1.3em;
    margin: 32px 0px 5px 0px;
}
div.ppcp_success_logo {
    display: block;
    margin: 10px 10px 5px 10px;
}
