.angelleye_ppcp_gateway_setting_sepraer {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.angelleye_ppcp_gateway_manual_credential_input {
    outline: none;
    text-decoration: none;
}

