#angelleye_paypal_marketing_table h3.wc-settings-sub-title {
    border-bottom: none;
}
#angelleye_paypal_marketing_table h3.wc-settings-sub-title.ppcp_separator_heading {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color: #23282d;
    font-size: 1.3em;
    margin: 32px 0px 5px 0px;
}
div.ppcp_success_logo {
    display: block;
    margin: 10px 10px 5px 10px;
}
.angelleye_paypal_checkout_gateway_manual_credential_input {
    outline: none;
    text-decoration: none;
}

.angelleye_paypal_checkout_gateway_setting_sepraer {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
.list {
    list-style-type: circle;
    margin-left: 42px;
}

.ppcp_migration_box {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    margin-bottom: 25px;
    border-width: 1px;
    border-color: #d1d1d1;
    z-index: 10;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    border: 0 solid #333;
}

.apple-pay-domain-add-form {
    margin: 17px 0;
}

a.processing {
    cursor: wait !important;
    pointer-events: none !important;
    color: #888 !important;
}

.submit_btn_processing {
    cursor: wait !important;
    pointer-events: none !important;
    background: #888 !important;
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

/* start tab style */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    overflow: hidden;
    height: auto;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }
  div.bhoechie-tab-menu{
      display: inline-block;
      width: 20%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a{
    text-decoration: none;
    margin-bottom: 0;
    background: #e0edff;
  }
  div.bhoechie-tab-menu div.list-group>a .glyphicon,
  div.bhoechie-tab-menu div.list-group>a .fa {
    color: #92bdf8;
  }
  div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a.active,
  div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
  div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #92bdf8;
    border: 1px;
    background-image: #92bdf8;
    color: #ffffff;
  }
  div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #92bdf8;
  }
  
  div.bhoechie-tab-content{
    background-color: #ffffff;
    padding: 0 20px;
  }
  div.bhoechie-tab{
      float: right;
      width: 80%;
  }
  div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
  }
  .list-group-item {
      text-align: center;
      position: relative;
      display: block;
      padding: 10px 15px;
      background-color: #fff;
      border: 1px solid #a3c7f8;
      color: #555;
  }
  a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
      z-index: 2;
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;
  }

  .list-group-item+.list-group-item {
    border-bottom: 0;
  }

  .bhoechie-tab-content h3{
    margin: 20px 0px 5px 0px;
  }
  /* end tab style */