.angelleye_ppcp-button-container {
    text-align: center;
}
.angelleye_ppcp-proceed-to-checkout-button-separator {
    display:inline-block;
    opacity: .8;
    margin: 0 0 1em;
    text-align: center;
}
.angelleye_ppcp-order-review .woocommerce-checkout #payment ul.payment_methods {
    display: none;
}
.angelleye_ppcp_shipping_details, .angelleye_ppcp_billing_details {
    margin-bottom: 10px;
    clear: both;
}
.angelleye_ppcp_edit_billing_address {
    cursor: pointer;
}
.angelleye_ppcp_edit_billing_address:hover {
    text-decoration: none;
    cursor: pointer;
}
.angelleye_ppcp_edit_shipping_address {
    cursor: pointer;
}
.angelleye_ppcp_edit_shipping_address:hover {
    text-decoration: none;
    cursor: pointer;
}
.angelleye_ppcp-order-review #ship-to-different-address {
    display: none;
}
.angelleye_ppcp-order-review .woocommerce-billing-fields, .angelleye_ppcp-order-review .woocommerce-shipping-fields {
    display: none;
}
.order_review_page_description {
    margin: 0 0 2em;
    position: relative;
    clear:both;
}
.button.alt.angelleye_ppcp_cancel {
    clear: both;
    margin-bottom: 20px;
    text-align: center;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form div.hosted-field-braintree, .woocommerce #payment div.payment_box .wc-credit-card-form div.hosted-field-braintree {
    height:2em;padding:7px;border:1px solid #ccc;border-radius:3px;transition:border-color .16s;-webkit-transition:border-color .16s;background-color:#fff;
    border-color: #c7c1c6;
    border-top-color: rgb(199, 193, 198);
    border-top-color: #bbb3b9;
}
.payments-sdk-contingency-handler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999 !important
}
.payments-sdk-contingency-handler iframe {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff !important;
    padding: 1em;
    box-sizing: content-box;
    border-radius: 5px;
}
.woocommerce-checkout #payment div.payment_box #wc-angelleye_ppcp-cc-form.wc-credit-card-form div.form-row,  .woocommerce #payment div.payment_box #wc-angelleye_ppcp-cc-form.wc-credit-card-form div.form-row{
    padding: 3px;
}
.angelleye_ppcp-proceed-to-checkout-button-separator.checkout_cc_separator {
    margin: 20px 0px 0px 0px;
}
.angelleye_ppcp_message_home, .angelleye_ppcp_message_product, .angelleye_ppcp_message_cart, .angelleye_ppcp_message_payment, .angelleye_ppcp_message_category {
    display: block;
    margin: 15px 0px 15px 0px;
    position: relative;
    z-index: 99999;
}
.payment_box.payment_method_angelleye_ppcp > p {
    margin-bottom: 20px;
}
.angelleye-woocommerce-customer-details-email::before {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "\e02d";
    text-decoration: none;
    margin-left: -1.5em;
    line-height: 1.75;
    position: absolute;
}
.angelleye-woocommerce-customer-details-phone, .angelleye-woocommerce-customer-details-email {
    margin-bottom: 0;
    padding-left: 1.5em;
}
.angelleye-woocommerce-customer-details-phone::before {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "\e037";
    text-decoration: none;
    margin-left: -1.5em;
    line-height: 1.75;
    position: absolute;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
}
.cfw-customer-info-address-container.cfw-parsley-shipping-details.woocommerce-shipping-fields.woocommerce-shipping-fields__field-wrapper {
    display: block;
}